apiVersion: apps/v1
kind: Deployment
metadata:
  name: back-deploy
  labels:
    app: proshop
    env: production
    version: v1.0
    tier: backend
  annotations:
    maintainer: "Team 274"
    description: "Deployment for ProShop backend application"
  
spec:
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: ghcr.io/nhahub/nha-274/backend:7773d2e9798be84b9dd25cfc98caba741650a6d5
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5000
          resources:
            requests:
              cpu: "350m"      
              memory: "200Mi"  
            limits:
              cpu: "700m"      
              memory: "400Mi"  

        
          envFrom:
            - secretRef:
                name: proshop-secret
