apiVersion: apps/v1
kind: Deployment
metadata:
  name: back-deploy
spec:
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: proshop-backend
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5000
          resources:
            requests:
              cpu: "350m"      
              memory: "200Mi"  
            limits:
              cpu: "700m"      
              memory: "400Mi"  

        
          envFrom:
            - secretRef:
                name: proshop-secret
