apiVersion: apps/v1
kind: Deployment
metadata:
  name: back-deploy
  labels:
    app: proshop
    env: production
    version: v1.0
    tier: backend
  annotations:
    maintainer: "Team 274"
    description: "Deployment for ProShop backend application"
  
spec:
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: ghcr.io/nhahub/nha-274/backend:962432bcbc92b650bb34fcd0f1343277a54fd012
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5000
          resources:
            requests:
              cpu: "350m"      
              memory: "200Mi"  
            limits:
              cpu: "700m"      
              memory: "400Mi"  

        
          envFrom:
            - secretRef:
                name: proshop-secret
