apiVersion: apps/v1
kind: Deployment
metadata:
  name: proshop-deploy
  labels:
    app: proshop
    env: production
    version: v1.0
    tier: frontend
  annotations:
    maintainer: "Team 274"  
    description: "Deployment for ProShop frontend application"
spec:
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 2       # two extra pods can be created during update      
      maxUnavailable: 1 # at least one pod should be available during update
  replicas: 3
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
        - name: myapp
          image: ghcr.io/nhahub/nha-274/frontend:962432bcbc92b650bb34fcd0f1343277a54fd012
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
          resources:
            requests:
              cpu: "350m"      
              memory: "200Mi"  
            limits:
              cpu: "700m"      
              memory: "400Mi"  

        
          envFrom:
            - configMapRef:
                name: proshop-config
