apiVersion: v1
kind: Service
metadata:
  name: proshop-backend
  labels:
    app: proshop
    env: production
    version: v1.0
    tier: backend
  annotations:
    maintainer: "Team 274"
    description: "Service for ProShop backend application"
spec:
  selector:
    app: backend
  ports:
  - port: 5000
    targetPort: 5000
  type: ClusterIP
