apiVersion: v1
kind: Service
metadata:
  name: db-svc
  labels:
    app: mongo
spec:
  ports:
    - port: 27017
      targetPort: 27017
  selector:
    app: mongo
  clusterIP: None # headless service for stateful set
